.banner-text {
  background-color: white;
  opacity: 1;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  margin-top: 50px;
  h1 {
    font-size: 66px;
    font-weight: bold;
    color: black;
  }
  hr {
    border-top: 5px dotted black;
    width: 50%;
    margin: auto;
  }p {
    color: black;
    font-size: 20px;
    padding: 1em;
  }

}
