body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.header-color {
  background: #2193b0;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.link-swipe {
  flex: 1 1 auto;
  margin: 5px;
  // padding: 10px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow:hidden;
  transition: .3s;
  &:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #f7f7f7;
    left: 0;

  }
  &:hover {
    text-decoration: none;
    cursor: pointer;
    margin-top: -3px;
    &:after {
      width: 100%;
      left: 0;
      padding-top: -15px;
    }
  }
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.landing-grid {
  background: #2193b0;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.avatar-img {
  height: 250px;
  padding-top: 5em;
  border-radius: 50%;
}

.social-media-link {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;

  i {
    color: white;
    font-size: 5em;
    padding: 5px;
  }
}

.projects-grid {
  display: flex;
  justify-content: space-between;
}

/* Contact */
.contact-body {
  margin: auto;
  background: grey;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  border: 2px solid red;
  margin-bottom: 20px;

  h2 {
    font-family: 'Roboto', sans-serif;
  }

  p {
    font-family: 'Lato', sans-serif;
  }

  i {
    font-size: 33px;
    padding-right: 10px;
  }
}

.list-item-content {
  font-size: 25px;
  font-family: 'Lato', sans-serif;
}

/* Resume */
.resume-right-col {
  background-color: black;
  color: white;
}

.flex {
  display: flex;
  padding: 0;
  margin: 0;
}

.flex-align {
  align-items: center;
  justify-content: center;
}

.flex-item {}